{{! Logo block}}
{{> _logo}}

{{! Header block. Contains description and close link}}
<div id="headers">
    <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr">
        <div class="buttons">
            <a href="javascript:window.close();" title="{{l10n "leavemessage.close"}}"><img class="tpl-image iclosewin" src="{{page.tplRoot}}/images/free.gif" alt="{{l10n "leavemessage.close"}}" /></a>
        </div>
        <div class="messagetxt">{{l10n "presurvey.intro"}}</div>
    </div></div></div></div></div></div></div></div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>