src/mibew/install/package
src/absent_*
src/release*

# Do not index actual configuration files
src/mibew/libs/config.php
src/tests/server_side/mibew/libs/config.php

# Do not index avatars
src/mibew/files/avatar/*
!src/mibew/files/avatar/.keep

# Do not index plugins
src/mibew/plugins/*
!src/mibew/plugins/.keep

# Do not index custom locales
src/mibew/locales/*
!src/mibew/locales/en/
!src/mibew/locales/names/

# Do not index composer files
src/composer.phar
src/composer.lock

# Do not index third-party libraries
src/mibew/vendor
