bin
src/messenger/.idea/workspace.xml
src/messenger/mibew/install/package
src/messenger/absent_*
src/messenger/release*
src/mibewjava/.idea/workspace.xml
src/mibewjava/org.mibew.notifier/resources/
mibew.ini
.DS_Store

# No index actual configuration files
src/messenger/mibew/libs/config.php
src/messenger/tests/server_side/mibew/libs/config.php

# No index plugins
src/messenger/mibew/plugins/*
!src/messenger/mibew/plugins/.keep