bin
src/messenger/.idea/workspace.xml
src/messenger/webim/install/package
src/messenger/absent_*
src/messenger/release*
src/mibewjava/.idea/workspace.xml
src/mibewjava/org.mibew.notifier/resources/
mibew.ini
.DS_Store

# No index actual configuration files
src/messenger/webim/libs/config.php
src/messenger/tests/server_side/webim/libs/config.php

# No index plugins
src/messenger/webim/plugins/*
!src/messenger/webim/plugins/.keep