{{#extends "install_step"}}
    {{#override "nextStep"}}
        <br />
        <br />

        {{l10n "Type a password for the first administrator"}}:

        <form name="passwordForm" method="post" class="password-form">

            <div class="fieldForm">
                <div class="field">
                    <div class="fleftlabel">{{l10n "Password"}}:</div>
                    <div class="fvalue">
                        <input type="password" name="password" size="25" value="" class="formauth" autocomplete="off"/>
                    </div>
                    <br clear="all"/>
                </div>

                <div class="field">
                    <div class="fleftlabel">{{l10n "Confirmation"}}:</div>
                    <div class="fvalue">
                        <input type="password" name="password_confirm" size="25" value="" class="formauth" autocomplete="off"/>
                    </div>
                    <br clear="all"/>
                </div>

                <div class="fbutton">
                    <input type="submit" name="submit" class="submit-bg-button save-button" value="{{l10n "Save"}}" />
                </div>

            </div>

        </form>
    {{/override}}
{{/extends}}