{{#extends "_layout"}}
    {{#override "content"}}
        {{> _errors}}

        {{l10n "Resolve the problem and try again. Press <a>back</a> to return to the wizard."}}
    {{/override}}
{{/extends}}