{{#if enabled}}
    <div class="tpl-image sound-control-on" title="{{l10n "Turn off sound"}}"></div>
{{else}}
    <div class="tpl-image sound-control-off" title="{{l10n "Turn on sound"}}"></div>
{{/if}}