<div class="buttons">
    <a href="javascript:window.close();" title="{{L10n "leavemessage.close"}}">
        <img class="tpl-image iclosewin" src="{{page.webimRoot}}/images/free.gif" alt="{{L10n "leavemessage.close"}}" />
    </a>
</div>
<div class="messagetxt">{{L10n "leavemessage.descr"}}</div>