<div class="tpl-image" title="{{L10n "chat.window.toolbar.refresh"}}"></div>
{{! Use div with ".control-config" class and its data-* attributes to pass data to the JavaScript app}}
<div class="control-config" data-win-params="toolbar=0,scrollbars=0,location=0,statusbar=1,menubar=0,width=720,height=560,resizable=1"></div>