<div class="tpl-image" title="{{L10n "chat.window.toolbar.mail_history"}}"></div>
{{! Use div with ".control-config" class and its data-* attributes to pass data to the JavaScript app}}
<div class="control-config" data-win-params="toolbar=0,scrollbars=0,location=0,statusbar=1,menubar=0,width=603,height=254,resizable=0"></div>