{{#if enabled}}
    <div class="tpl-image sound-control-on" title="{{L10n "chat.window.toolbar.turn_off_sound"}}"></div>
{{else}}
    <div class="tpl-image sound-control-off" title="{{L10n "chat.window.toolbar.turn_on_sound"}}"></div>
{{/if}}