{{! Logo block}}
{{> _logo}}

{{! Header block. Contains description and close link}}
<div id="headers">
    <div class="wndb"><div class="wndl"><div class="wndr"><div class="wndt"><div class="wndtl"><div class="wndtr"><div class="wndbl"><div class="wndbr">
        <div class="buttons">
            <a href="javascript:window.close();" title="{{l10n "Close"}}"><img class="tpl-image iclosewin" src="{{page.stylePath}}/images/free.gif" alt="{{l10n "Close"}}" /></a>
        </div>
        <div class="messagetxt">{{l10n "Thank you for contacting us. Please fill out the form below and click the Start Chat button."}}</div>
    </div></div></div></div></div></div></div></div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>