// reset.css

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
background-position:0 0;background-repeat:no-repeat;border:0 none;font-size:100%;font-style:inherit;font-weight:inherit;margin:0;padding:0;
text-align:left;vertical-align:baseline;font-family:"Myriad Pro"!important;}
a img, :link img, :visited img { border:0 none;}
table { border-collapse:collapse;border-spacing:0; }
ol, ul {list-style-image:none;list-style-position:outside;list-style-type:none;}
q:before, q:after, blockquote:before, blockquote:after { content:""; }

body {
	background: #FFFFFF url(images/img01.gif) repeat-x;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333333;
}
html, body {
	padding: 0;
	margin:0;
	border:0 none;
	height:100%;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #3E3E3E;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: left;
	line-height: 180%;
	font-size: 1em;
}

a:link {
	color: #7BAA0F;
}

a:hover, a:active {
	text-decoration: none;
	color: #003448;
}

a:visited {
	color: #5B9A0F;
}

a.inactive {
	color: #333333;
	text-decoration: none;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
}

/* Header */

#header {
	width: 850px;
	height: 82px;
	margin: 0px auto 10px auto;
	padding-top: 50px;
	background: url(images/img03.gif) repeat-x left bottom;
}

#logo {
	float: left;
}

#logo h1 {
	font-size: 40px;
	color: #494949;
}

#logo h1 sup {
	vertical-align: text-top;
	font-size: 24px;
}

#logo h1 a {
	color: #494949;
}

#logo h2 {
	margin-top: -4px;
	margin-left: 2.4em;
	font-size: 13px;
	color: #A0A0A0;
}

#logo a {
	text-decoration: none;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 15px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 30px;
	padding: 7px;
	text-decoration: none;
	font-size: 1em;
	color: #000000;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
	background: url(images/img02.gif) repeat-x left bottom;
}

#submenu a {
	padding-left: 15px;
	color: #536a1e;
	font-size: 1em;
	text-decoration: none;
}

#submenu .active a {
	background: url(images/img02_h.gif) repeat-y left top;
}

#submenu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 850px;
}

.wrap {
	position:relative;
	width: 850px;
	margin: 0px auto;
	
	height:auto !important;
	height:100%;
	min-height:100%;
}

/* Content */

#content {
	float: left;
	width: 575px;
}

/* Post */

.post {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	background: url(images/img03.gif) repeat-x left bottom;
}

.post .entry {
}

.post .entry ul {
	margin-top: -15px;
	margin-bottom: 10px;
}

.post .entry ul {
	line-height: 160%;
}

.post .nometa {
	padding: 0px 0 20px 0;
}

.post .meta {
	padding: 15px 0 60px 0;
	background: url(images/img03.gif) repeat-x;
}

.post .meta p {
	margin: 0;
	line-height: normal;
	color: #999999;
	font-size: 11px;
}

.post .meta .byline {
	float: left;
}

.post .meta .links {
	float: right;
}

.post .meta .more {
	padding: 0 20px 0 18px;
	background: url(images/img06.gif) no-repeat left center;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 195px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 20px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	margin-bottom: 10px;
	background: url(images/img03.gif) repeat-x left bottom;
	font-size: 1.3em;
}

.post .entry li {
	padding-left: 22px;
	margin-left: 0px;
}

.post .entry ul {
	padding-left: 0px;
}

/* Locales */

#locales a { margin-right:20px; }

/* Footer */

.empty_inner {
	height:50px;
}

#footer {
	height: 50px;
	min-height: 50px;
	background: white url(images/img01_v.gif) repeat-x;
	font-size: 11px;

	position:relative;
	margin-top:-51px; 
	width:100%; 
}

#legal {
	clear: both;
	line-height: 50px;
	text-align: center;
	color: #375C69;
	margin-bottom: 0px;
}

#legal a {
	color: #476B77;
	text-decoration: none;
}

#legal a:hover {
	text-decoration: underline;
}

#footer .flink {
	color: #7BAA0F;
	text-decoration: underline;
}


#tableh {
	margin-bottom: 0.8em;
}

table#downl td {
	padding-right: 2em;
	line-height: 160%
}

#tablecomment {
	margin-top: 0.5em;
}

.box1 {
	padding: 19px;
	background: url(images/img05.gif) no-repeat;
}

/* features */

.featuretitle {
	font-size: 1.1em;
	text-decoration: underline;
	margin-bottom: 1.2em;
}
