a{
	text-decoration : underline;
}
a:hover{
	text-decoration : none;
}

ul{
	margin-bottom : 10px;
	margin-top : 10px;
	margin-left : 0px;
}
li{
	margin-left : 18px;
	list-style-image : url(images/li.gif);
}
li.error{
	margin-left : 15px;
	list-style-image : url(images/li_error.gif);
}
li.grey{
	margin-left : 15px;
	list-style-image : url(images/li_grey.gif);
}

form{
	margin-bottom : 0px;
	margin-top : 0px;
}

.bgcn{
	background-position : center;
	background-repeat : no-repeat;
}
.bgrn{
	background-position : right;
	background-repeat : no-repeat;
}
.bgcy{
	background-position : center;
	background-repeat : repeat-y;
}
.bgry{
	background-position : right;
	background-repeat : repeat-y;
}
.bgly{
	background-position : left;
	background-repeat : repeat-y;
}
.bgbx{
	background-position : bottom;
	background-repeat : repeat-x;
}

.textform{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
}
.textform a{
	color : #2971C1;
}

.text{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #515151;
}
.text h1{
	margin-bottom : 15px;
	margin-top : 0px;
	color : #000000;
	font-size : 18px;
	font-weight : normal;
	line-height : 15px;
}
.text h2{
	margin-bottom : 15px;
	margin-top : 0px;
	color : #000000;
	font-size : 16px;
}
.text h3{
	margin-bottom : 15px;
	margin-top : 0px;
	color : #000000;
	font-size : 15px;
}
.text h4{
	margin-bottom : 15px;
	margin-top : 0px;
	color : #000000;
	font-size : 12px;
}
.text span.date{
	font-size : 11px;
	color : #FFFFFF;
	font-weight : bold;
}
.text span.sub{
	font-size : 11px;
	color : #676767;
}
.text a.sublink{
	font-size : 11px;
	color : #666666;
}
.text b.black{
	color : #000000;
}
.text span.black{
	color : #000000;
}

.block{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #515151;
}
.block h1{
	margin-bottom : 10px;
	font-size : 12px;
	color : #000000;
	font-weight : bold;
	line-height : 11px;
}

.bann{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 21px;
	color : #000000;
	line-height : 18px;
}
.bann span.text{
	font-size : 14px;
	color : #9F7800;
}

.bannin{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 17px;
	color : #000000;
	line-height : 14px;
	font-weight : bold;
}
.bannin span.text{
	font-size : 12px;
	color : #9F7800;
	font-weight : normal;
	white-space : nowrap;
}
.bannform{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #766037;
}

.menu{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
}
.menu a{
	color : #000000;
}

.smenu{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #165798;
}
.smenu a{
	color : #165798;
}

.table{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #515151;
	padding-left : 5px;
	padding-right : 15px;
	padding-top : 2px;
	padding-bottom : 2px;
}
.table span.header{
	color : #FFFFFF;
}
.table span.headergrey{
	color : #676767;
}
.table a.black{
	color : #000000;
}
.table span.black{
	color : #000000;
}

.address{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
}
.address a{
	color : #000000;
}

.phone{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000000;
}
.phone span.number{
	font-size : 17px;
	color : #3D79AD;
	font-weight : bold;
}

td.formauth{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	padding-left : 0px;
}
td.formauth span{
	color : #474747;
}
td.formauth span.formdescr{
	font-size : 10px;
	color : #676767;
}
.formauth{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #676767;
}
input.formauth{
	border : 1px solid #878787;
}
textarea.formauth{
	border : 1px solid #878787;
	overflow : auto;
}

.submit a{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	text-decoration : none;
}

.perpage{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #676767;
}

input.submit{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	background : transparent;
	background-image : url(images/submitbg.gif);
	height : 33px;
	cursor:hand;
	border : none;
}

.cal{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #515151;
}
.cal a{
	color : #515151;
	text-decoration : none;
}
.cal span{
	color : #B70606;
}
.cal b{
	color : #000000;
}
.firstmessage a {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	text-decoration : none;
	color : #6a6a6a;
}
.firstmessage a:hover {
	color : #8a6a6a;
}