<div class="buttons">
        <a href="javascript:window.close();" title="{{l10n "Close..."}}">
            <img class="tpl-image iclosewin" src="{{page.stylePath}}/images/free.gif" alt="{{l10n "Close..."}}" />
        </a>
</div>
<div class="messagetxt">{{l10n "Thank you for your message. We'll answer your query by email as soon as possible."}}</div>