<div class="buttons">
        <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close..."}}">
            <img class="tpl-image image-close-window" src="{{page.stylePath}}/images/free.gif" alt="{{l10n "Close..."}}" />
        </a>
</div>
<div class="info-message">{{l10n "Thank you for your message. We'll answer your query by email as soon as possible."}}</div>