<div class="buttons">
    <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close"}}">
        <img class="tpl-image image-close-window" src="{{page.stylePath}}/images/free.gif" alt="{{l10n "Close"}}" />
    </a>
</div>
<div class="info-message">{{{l10n "Sorry. None of the support team is available at the moment. <br/>Please leave a message and someone will get back to you shortly."}}}</div>