<div class="buttons">
        <a href="javascript:window.close();" title="{{l10n "chat.mailthread.sent.close"}}">
            <img class="tpl-image iclosewin" src="{{page.tplRoot}}/images/free.gif" alt="{{l10n "chat.mailthread.sent.close"}}" />
        </a>
</div>
<div class="messagetxt">{{l10n "leavemessage.sent.message"}}</div>