{{#extends "install_step"}}
    {{#override "nextStep"}}
        <br />
        <br />

        {{l10n "Type a password for the first administrator"}}:

        <form name="passwordForm" method="post" class="password-form">

            <div class="form-fields">
                <div class="field">
                    <div class="field-label-left">{{l10n "Password"}}:</div>
                    <div class="field-value">
                        <input type="password" name="password" size="25" value="" class="field-input" autocomplete="off"/>
                    </div>
                    <br clear="all"/>
                </div>

                <div class="field">
                    <div class="field-label-left">{{l10n "Confirmation"}}:</div>
                    <div class="field-value">
                        <input type="password" name="password_confirm" size="25" value="" class="field-input" autocomplete="off"/>
                    </div>
                    <br clear="all"/>
                </div>

                <div class="form-button">
                    <input type="submit" name="submit" class="submit-button-background save-button" value="{{l10n "Save"}}" />
                </div>

            </div>

        </form>
    {{/override}}
{{/extends}}