<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>Mibew Notifier</string>
	<key>CFBundleIdentifier</key>
	<string>org.mibew.notifier</string>
	<key>CFBundleVersion</key>
	<string>100.0</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>MibewNotifier</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleGetInfoString</key>
	<string>Mibew Notifier 1.0, build 17 Jan, 2010</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>mibew.icns</string>
	<key>Java</key>
	<dict>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
		<key>VMOptions</key>
		<string>-Xms16mm</string>
		<key>MainClass</key>
		<string>org.mibew.trayapp.NotifyApp</string>
		<key>JVMVersion</key>
		<string>1.6+</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/org.mibew.jabber.jar</string>
			<string>$JAVAROOT/smackx.jar</string>
			<string>$JAVAROOT/smackx-jingle.jar</string>
			<string>$JAVAROOT/smackx-debug.jar</string>
			<string>$JAVAROOT/smack.jar</string>
			</array>
	</dict>
</dict>
</plist>
