{
    "extends": "eslint:recommended",
    "rules": {
        "indent": ["error", 4, {"SwitchCase": 1}],
        "no-trailing-spaces": "error",
        "semi": ["error", "always"],
        "guard-for-in": "error",
        "no-unused-vars": ["error", {"caughtErrors": "none"}]
    },
    "globals": {
        "Mibew": true,
        "MibewAPI": true,
        "MibewAPIInteraction": true,
        "MibewAPIChatInteraction": true,
        "MibewAPIUsersInteraction": true,
        "MibewAPIExecutionContext": true,
        "Handlebars": true,
        "_": true,
        "Backbone": true,
        "jQuery": true,
        "vex": true,
        "validator": true
    },
    "env":{
        "browser": true
    }
}
